<h2>Your cart</h2>
<section data-ng-controller="CartCtrl">
    <div data-ng-show="cartData.length === 0">
        장바구니가 비어있습니다. <br/>
        <a href="/#!/">메뉴를 고르시려면 여기를 클릭해주세요</a>
    </div>
    <div data-ng-hide="cartData.length === 0">
        <table>
            <thead>
                <th>메뉴</th>
                <th>수량</th>
                <th>합계</th>
            </thead>
            <tbody>
                <tr data-ng-repeat="item in cartData">
                    <td>{{ item.name }} <small style="font-size:65%;">({{ item.size }})</small></td>
                    <td>
                        <dec-button value="item.count" id="item.sizeId"></dec-button>
                            {{ item.count }}
                        <inc-button value="item.count"></inc-button>
                    </td>
                    <td>&#8361;{{ (item.price * item.count) | number:0 }}</td>
                    <td>&nbsp;&nbsp;&nbsp;<button data-ng-click="remove(item.sizeId)">x</button></td>
                </tr>
            </tbody>
            <tfoot>
                <tr style="font-size:130%;">
                    <td colspan="3">총합계</td>
                    <td>&#8361;{{ total() | number:0 }}</td>
                </tr>
            </tfoot>
        </table>
        <br/>
        <div>
            <a href="/#!/">계속해서 메뉴 고르기</a>
        </div>
        <br/>
        <div>
            <a href="/#!/placeorder">지금 주문하기</a>
        </div>
    </div>
</section>