<style>
    div.well {
        padding: 5px;
    }
    span.required {
        color: red;
    }
    span.error {
        color: red;
        font-size: 70%;
    }
    span.advice {
        color: rebeccapurple;
        font-size: 70%;
    }
</style>
<section data-ng-controller="OrderCtrl">
    <h2>주문자 정보</h2>
    <p>아래의 사항들을 확인하시고 틀린 사항이나 빈 칸은 다시 채워주시기 바랍니다.</p>

    <form name="shippingForm" novalidate>
        <div>
            <div class="well">
                <span class="required">*</span>
                <label>받으시는 분</label>&nbsp;
                <input data-ng-model="data.shipping.name" name="name" size="8" required/>
                <!--<span data-ng-show="shippingForm.name.$error.required" class="error"></span>-->
            </div>

            <div class="well">
                <span class="required">*</span>
                <label>연락처</label>&nbsp;
                <input data-ng-model="data.shipping.phone[0]" name="phone" size="4" required/>-
                <input data-ng-model="data.shipping.phone[1]" name="phone" size="6" required/>-
                <input data-ng-model="data.shipping.phone[2]" name="phone" size="6" required/>
                <!--<span data-ng-show="shippingForm.phone.$error.required" class="error"></span>-->
                <!--<span data-ng-show="shippingForm.phone.$error.pattern" class="error">-->
                    <!--휴대폰 번호를 입력해 주세요-->
                <!--</span>-->
            </div>

            <div class="well">
                <span class="required">*</span>
                <label>배송지</label>&nbsp;
                <input data-ng-model="data.shipping.address[0]" name="address" size="15" readonly/>
                <input data-ng-model="data.shipping.address[1]" name="address" size="40"
                       placeholder="나머지 지번 또는 도로명 주소" required/>
                <!--<span data-ng-show="shippingForm.address.$error.required" class="error"></span>-->
            </div>

            <div class="well">
                <label>주문 선택사항</label>
                <div>
                    <div style="width: 260px; padding: 10px; margin-bottom: 5px; border: 1px solid; font-size: 50%;">
                        <div data-ng-repeat="orderOption in data.shipping.option">
                            {{ orderOption }}
                            <button data-ng-click="removeOption($index)">x</button>
                        </div>
                    </div>
                    <span data-ng-show="data.shipping.option.length > 3" class="advice">
                        더 이상은 선택사항의 입력이 안됩니다
                    </span>
                </div>
                <select data-ng-options="shipOpt for shipOpt in shippingOptionList"
                        data-ng-model="selectedOpt" ng-change="pushOptions(selectedOpt)">
                    <option value="">선택사항</option>
                </select>
                <div>
                    <input data-ng-model="customOpt" name="customoption" data-ng-maxlength="50"
                           size="44" placeholder="다른 사항이 있으면 이곳에 입력해주세요"/>
                    <button data-ng-click="pushCustomOptions(customOpt)">입력</button>
                    <span data-ng-show="shippingForm.customoption.$error.maxlength" class="error">
                        주문 사항은 50자를 넘기지 말아주세요
                    </span>
                </div>
            </div>
        </div>
    </form>
    <div>
        <a href="/#!/payment" data-ng-disabled="shippingForm.$invalid">
            확인
        </a>
    </div>
    <br/>
    <div>
        data: <br/>
        {{ data }}
    </div>
    <br/>
    <div>
        data.shipping: <br/>
        {{ data.shipping }}
    </div>
</section>