<section data-ng-controller="MainCtrl" data-ng-init="productsList()">
    <h2>{{ name }}님 반갑습니다!</h2>
    <a href="/signout">로그아웃</a>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th colspan="2">Price</th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="item in products">
                <td>{{ item.category }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.prices[0].size }}  &#8361;{{ item.prices[0].price | number:0 }}
                    <button data-ng-click="addRsProductToCart(item)">></button></td>
                <td>{{ item.prices[1].size }}  &#8361;{{ item.prices[1].price | number:0 }}
                    <button data-ng-click="addLsProductToCart(item)">></button></td>
            </tr>
        </tbody>
    </table>
</section>