<section data-ng-controller="PaymentCtrl">
    <div>{{ orderData.payment.paymentMethod }}</div>
    <div>{{ orderData.payment.paid }}</div>
    <br/>
    <button data-ng-click="sendOrder(orderData)">
        결제 끝났다고 치고 주문데이터 보내기 (결제 후 API Response 확인 받아야함)
    </button>
</section>