@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url(/main/fonts/nanumBarunGothicUltraLight.woff) format('woff');
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url(/main/fonts/nanumBarunGothicLight.woff) format('woff');
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url(/main/fonts/nanumBarunGothicRegular.woff) format('woff');
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    src: url(/main/fonts/nanumBarunGothicBold.woff) format('woff');
    font-style: normal;
    font-weight: 700;
}