<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <p>이용약관</p>
    <p>개인정보 취급 방침</p>
    <p>위치기반서비스 이용약관</p>
    <p><a href="#">동의하고 시작하기</a></p>
</body>
</html>