<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/main/css/main.css"/>
    <link rel="stylesheet" href="/main/css/font-face.css">

    <title><%= title %></title>

    <link rel="shortcut icon" href="/main/img/favicon.ico"/>
</head>
<body>
    <header>
        <h1 style="float:left; padding-right:30px;">Cafe<br/>Teheran</h1>
        <img src="/main/img/icon-120.png" alt="Logo" style="max-width:25%; height:auto; padding-top:10px;">
        <cart-summary style="float:right; font-size:80%;"></cart-summary>
    </header>

<% if (user) { %>
    <section data-ng-view></section>
<% } else { %>
    <section>
        <h3>
            처음 방문하셨다면<br/>
            쿠폰메뉴에서 무료쿠폰 확인하세요!
        </h3>
        <p style="margin-bottom:3px; font-size:70%; text-decoration:underline;">
            간편하고 안전하게</p>
        <a href="/oauth/facebook">페이스북 아이디로 시작하기</a><br/>
        <a href="/oauth/naver">네이버 아이디로 시작하기</a><br/>
        <a href="/oauth/kakao">카카오톡 아이디로 시작하기</a><br/>
        <a href="/oauth/daum">다음 아이디로 시작하기</a><br/>
        <br/>
        <p style="margin-bottom:3px; font-size:70%; text-decoration:underline;">
            카페테헤란의 아이디를 갖고 계시다면</p>
        <form action="/signin" method="post">
            <div>
                <label>&nbsp;&nbsp;아이디&nbsp;&nbsp;&nbsp;</label>
                <input type="text" name="userID"/>
            </div>
            <div>
                <label>비밀번호&nbsp;</label>
                <input type="password" name="password"/>
            </div>
            <div>
                <input type="submit" value="로그인하기"/>
            </div>
        </form>
    </section>
<% } %>

    <script type="text/javascript">
        window.user = <%- user || 'null' %>;
    </script>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="/main/main_client_module.js"></script>
    <script type="text/javascript" src="/main/controllers/main_client_controller.js"></script>
    <script type="text/javascript" src="/main/config/main_client_routes.js"></script>
    <script type="text/javascript" src="/main/services/loadProduct_client_service.js"></script>

    <script type="text/javascript" src="/user/user_client_module.js"></script>
    <script type="text/javascript" src="/user/services/authentication_client_service.js"></script>

    <script type="text/javascript" src="/cart/cart_client_module.js"></script>
    <script type="text/javascript" src="/cart/services/cart_client_service.js"></script>
    <script type="text/javascript" src="/cart/directives/cartSummary_client_directive.js"></script>
    <script type="text/javascript" src="/cart/controllers/cart_client_controller.js"></script>
    <script type="text/javascript" src="/cart/directives/incrementButton_client_directive.js"></script>
    <script type="text/javascript" src="/cart/directives/decrementButton_client_directive.js"></script>
    <script type="text/javascript" src="/cart/services/data_client_service.js"></script>

    <script type="text/javascript" src="/order/order_client_module.js"></script>
    <script type="text/javascript" src="/order/services/saveOrder_client_service.js"></script>
    <script type="text/javascript" src="/order/controllers/order_client_controller.js"></script>
    <script type="text/javascript" src="/order/config/order_client_routes.js"></script>

    <script type="text/javascript" src="/payment/payment_client_module.js"></script>
    <script type="text/javascript" src="/payment/controllers/payment_client_controller.js"></script>
    <script type="text/javascript" src="/payment/config/payment_client_routes.js"></script>

    <script type="text/javascript" src="/application.js"></script>
</body>
</html>