<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
    <form action="/signup" method="post">
        <div>
            <label>&nbsp;&nbsp;&nbsp;&nbsp;이름&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="userName"/>
        </div>
        <div>
            <label>&nbsp;&nbsp;휴대폰&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="phone"/>-
            <input type="text" name="phone"/>-
            <input type="text" name="phone"/>
        </div>
        <div>
            <label>&nbsp;&nbsp;주소&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="address" value="서울시 강남구" readonly/>
            <input type="text" name="address" placeholder="나머지 주소(지번 또는 도로명)"/>
        </div>
        <div>
            <label>&nbsp;&nbsp;아이디&nbsp;&nbsp;&nbsp;</label>
            <input type="text" name="userID"/>
        </div>
        <div>
            <label>비밀번호&nbsp;</label>
            <input type="password" name="password"/>
        </div>
        <br/>
        <div>
            <input type="submit" value="회원가입하기"/>
        </div>
    </form>
    <br/>
    <% for (var i in messages) { %>
        <div class="flash"><%= messages[i] %></div>
    <% } %>
</body>
</html>
